#### creating a universal set

In [30]:
U={1,2,3,4,5,6,7,8,9,10,11,12}
A={2,4,6,8,10}
B={3,8,11,12}
C={2,3,6,8,9,11}
type(B)

set

 A (cap-intersection) B

In [31]:
A.intersection(B)

{8}

In [32]:
ans1= A & B
print(ans1)

{8}

In [33]:
intersection = A & B
print(intersection)

{8}

A (cup-Union) C

In [34]:
A.union(C)

{2, 3, 4, 6, 8, 9, 10, 11}

In [35]:
ans2= A|C
print(ans2)

{2, 3, 4, 6, 8, 9, 10, 11}

In [36]:
union = A|C
print(union)

{2, 3, 4, 6, 8, 9, 10, 11}

A complement

In [37]:
A_complement = U-A
print(A_complement)

{1, 3, 5, 7, 9, 11, 12}

In [38]:
ans3= U-A
print(ans3)

{1, 3, 5, 7, 9, 11, 12}

absolute complement of B

In [39]:
B_complement = U-B
print(B_complement)

{1, 2, 4, 5, 6, 7, 9, 10}

In [40]:
ans4= U-B
print(ans4)

{1, 2, 4, 5, 6, 7, 9, 10}

A UNION B COMPLEMENT

In [41]:
A_union_B = (A|B)
ans5= U-A_union_B
print(ans5)

{1, 5, 9, 7}

In [42]:
A_union_B_complement =U-(A|B)
print(A_union_B_complement)

{1, 5, 9, 7}

B intersection C complement
we first get the C complement

In [43]:
C_complement= U-C #C -complement
ans6= B&C_complement #B intersection C complement
print(ans6)

{12}

- Getting the diffrence A\B

In [44]:
A_minus_B = A-B
ans7= A-B
print(ans7)

{2, 10, 4, 6}

- Diffrence C(GET Diffrence in B and A first)

In [45]:
B_minus_A =B-A #Diffrence B\A
print(B_minus_A)

{11, 3, 12}

In [46]:
result=C-(B-A)
ans8= C-(B-A)
print(ans8)

{8, 9, 2, 6}

In [47]:
C_intersection_A=C.intersection (A) #C intersection A
C_minus_B=(C-B) # C minus B
ans9=C_intersection_A | C_minus_B
print(ans9)

{2, 6, 8, 9}

INCLUSION -EXCLUSION

In [48]:
# inclusion - exclusion principle
left_hand_eq=len(A.union(B,C))
print(left_hand_eq)

9

In [49]:
right_hand_eq=len(A)+len(B)+len(C)-len(A&B)-len(A&C)-len(B&C)+len(A&B&C)
print(right_hand_eq)

9

SET OPPERATIONS

In [50]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [51]:
Eve = set(["Rabbit", "Turtle", "Goldfish"])
Eve.remove("Turtle")
print(Eve)

{'Goldfish', 'Rabbit'}

In [52]:
Nina.update(Mary)
print(Nina)

{'Chicken', 'Horse', 'Dog', 'Cat', 'Rabbit', 'Parrot', 'Goldfish', 'Chinchilla', 'Donkey'}

In [53]:
Mary.clear()
print(Mary)

set()

In [ ]:
common_species= Nina.intersection(Eve)
print(common_species)

{'Goldfish', 'Rabbit'}

In [58]:
Nina.difference_update(common_species)
print(Nina)

{'Chicken', 'Horse', 'Dog', 'Cat', 'Parrot', 'Chinchilla', 'Donkey'}

In [60]:
len(Nina)

7

Optional Exercise: European Countries

In [70]:
import pandas as pd 
df = pd.read_excel("Europe_and_EU.xlsx") 
df.head()

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]
3,4.0,France,65233271,7.76,0.39,261022,177,66991000,2017-03-01 00:00:00,EU,[3]
4,5.0,United Kingdom,65110276,7.75,0.75,484000,92,66573504,2016-12-30 00:00:00,EU,Official estimate

In [69]:
import pandas as pd

# Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name='Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name='EU')

# Remove all whitespace from the 'Country' column
europe['Country'] = europe['Country'].str.replace(r'\s+', '', regex=True)
eu['Country'] = eu['Country'].str.replace(r'\s+', '', regex=True)

In [66]:
europe.head()

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]
3,4.0,France,65233271,7.76,0.39,261022,177,66991000,2017-03-01 00:00:00,EU,[3]
4,5.0,UnitedKingdom,65110276,7.75,0.75,484000,92,66573504,2016-12-30 00:00:00,EU,Official estimate

In [67]:
eu.head()

,Rank,Country,2017 population,% of pop.,Average relative annual growth,Average absolute annual growth,Official figure,Date of last figure,Source
0,1,Germany,82800000,16.18,0.76,628876,82576900,2017-03-31,Official estimate
1,2,France,67210459,13.10,0.40,265557,67174000,2018-01-01,Monthly official estimate
2,3,UnitedKingdom,65808573,12.86,0.65,428793,65648100,2017-06-30,Official estimate
3,4,Italy,60589445,11.84,-0.13,-76001,60494000,2018-01-01,Monthly official estimate
4,5,Spain,46528966,9.09,0.19,89037,46549045,2017-07-01,Official estimate

In [75]:
is_subset= eu_set.issubset(europe_set)
print("is EU a subset of Europe?",is_subset)

is EU a subset of Europe? True

In [74]:
# Convert to sets
europe_set = set(europe['Country'])
eu_set = set(eu['Country'])

# Countries in Europe but not in the EU
non_eu_countries = europe_set - eu_set
print(sorted(non_eu_countries))

['Albania', 'Andorra', 'Armenia', 'Azerbaijan', 'Belarus', 'BosniaandHerzegovina', 'FaroeIslands(Denmark)', 'Georgia', 'Gibraltar(UK)', 'Guernsey(UK)', 'Iceland', 'IsleofMan(UK)', 'Jersey(UK)', 'Kosovo', 'Liechtenstein', 'Macedonia', 'Moldova', 'Monaco', 'Montenegro', 'Norway', 'Russia', 'SanMarino', 'Serbia', 'Svalbard(Norway)', 'Switzerland', 'Turkey', 'Ukraine', 'VaticanCity', 'Ã…landIslands(Finland)']